.blue {
    background-color: #c8dcf4;
}

.div1 {
    min-height: 25vh;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.x
{
    background-color: white;
    border: 1px black solid;
    width: fit-content;
    margin-left: 30px;
    padding: 10px;
}

.div1text {
    margin-left: auto;
}

.midbody {
    min-height: 50vh;
    border-left: 1px black solid;
    border-right: 1px black solid;
    background-color: black;

    display: grid;
    gap: 1px;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;

}

.div2 {
    background-color: #ffecdc;
    grid-row: span 3;
    
}

.div3 {
    background-color: #f0f4dc;
    grid-column: span 2;
    text-align: center;
}

.div4 {
    background-color: white;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.div5 {
    background-color: #ffecdc;
    width: 100%;
    grid-row: span 2;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div6 {
    background-color: #f0f4dc;
    text-align: center;
}

.div7 {
    min-height: 25vh;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.y {
    background-color: white;
    border: 1px black solid;
    width: fit-content;
    margin-left: auto;
    margin-right: 30px;
    padding: 10px 20px 10px 0;
}

.mainpageimage {
    width: 100%;
}

.mapimage{
    width: 150px;
}