.blue {
    background-color: #c8dcf4;
}

.div1 {
    min-height: 25vh;
    border: 1px black solid;
    padding-top: 10%;
}

.x {
    display: inline-block;
    background-color: white;
    border: 1px black solid;
    width: fit-content;
    margin-left: 30px;
    padding: 10px;
}

.div1text {
    margin-left: 60%;
}

.table {
    width: 100%;
}

.col1 {
    width: 25%;
}

.col2 {
    width: 50%;
}

.col3 {
    width: 25%;
}

.tddiv2 {
    height: 50vh;
}

.div2 {
    background-color: #ffecdc;
    vertical-align: top;
    height: 100%;
}

.linklist {
    padding-left: 20px;
}

.tddiv3 {
    height: 5vh;
}

.div3 {
    background-color: #f0f4dc;
    text-align: center;
    height: 100%;
}

.tddiv4 {
    height: 40vh;
}

.div4 {
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;;
}

.tddiv5 {
    height: 45vh;
}

.div5 {
    background-color: #ffecdc;
    text-align: center;
    width: 100%;
    height: 100%;
}

.tddiv6 {
    height: 5vh;
}

.div6 {
    background-color: #f0f4dc;
    text-align: center;
    width: 100%;
    height: 100%;
}

.div7 {
    min-height: 25vh;
    border: 1px black solid;
    align-items: center;
}

.div7content {
    margin-top: 100px;
}

.div7text {
    display: inline-block;
}

.y {
    display: inline-block;
    background-color: white;
    border: 1px black solid;
    width: fit-content;
    margin-left: 40%;
    margin-right: 30px;
    padding: 10px 20px 10px 0;
}